body {
    height: 200%;
}

div.content {
    max-width: 700px;
    position: relative;
    z-index: 0;
  }
  
  .content:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: polygon(0 57%, 100% 21%, 100% 100%, 0% 100%);
    background-color: red;
  }

.hero {
    position: relative;
    z-index: 0;
}

.hero::before {
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: polygon(0% 36%, 14% 24%, 21% 19%, 29% 6%, 38% 6%, 50% 11%, 60% 14%, 63% 9%, 63% 2%, 69% 2%, 76% 9%, 93% 15%, 100% 19%, 100% 99%, 1% 100%);
    background-color: red;
}