<section class="container">
    <article class="callout">
        <header class="callout__header">
            <h2 class="callout__heading">
                Get early access today
            </h2>
            <p class="callout__tagline">
                It only takes a minute to sign up and our free starter tier is extremely generous. If you have any
                questions, our support team would be happy to help you.
            </p>
        </header>
        <form class="callout__input">
            <input type="email" name="email" id="email" class="callout__email" placeholder="email@example.com" minlength="9" required oninvalid="this.setCustomValidity('Please enter a valid email address')" oninput="this.setCustomValidity('')">
            <button type="submit" class="btn cta">Get Started For Free</button>
        </form>
    </article>
</section>