<section class="features grid grid--1x2 container">
    <div>
        <img src="images/icon-access-anywhere.svg" alt="Access anywhere" class="features__image">
        <header class="features__content">
            <h2 class="features__heading">Access your files, anywhere</h2>
            <p class="features__tagline">The ability to use a smartphone, tablet, or computer to access your account means your 
                files follow you everywhere.</p>
        </header>
    </div>
    <div>
        <img src="images/icon-security.svg" alt="Security" class="features__image">
        <header class="features__content">
            <h2 class="features__heading">Security you can trust</h2>
            <p class="features__tagline">2-factor authentication and user-controlled encryption are just a couple of the security 
                features we allow to help secure your files.</p>
        </header>
    </div>
</section>