<section class="grid grid--1x2 container features">
    <article class="feature">
        <svg class="features__icon">
            <use href="images/sprite.svg#icon-access-anywhere"></use>
        </svg>
        <header class="features__content">
            <h2 class="features__heading">Access your files, anywhere</h2>
            <p class="features__tagline">The ability to use a smartphone, tablet, or computer to access your account means your 
                files follow you everywhere.</p>
        </header>
    </article>
    <article class="feature">
        <svg class="features__icon">
            <use href="images/sprite.svg#icon-security"></use>
        </svg>
        <header class="features__content">
            <h2 class="features__heading">Security you can trust</h2>
            <p class="features__tagline">2-factor authentication and user-controlled encryption are just a couple of the security 
                features we allow to help secure your files.</p>
        </header>
    </article>
</section>