<section class="container footer">
    <img src="images/logo.svg" alt="Logo" class="footer__logo">
    <div class="footer__sections">
        <p class="footer__text logos">
            <span class="footer__icon">
                <svg class="footer__icon">
                    <use href="images/sprite.svg#icon-location"></use>
                </svg>
            </span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
            dolore magna aliqua
        </p>
        <ul class="list footer__list">
            <li class="list__items logos">
                <span class="footer__icon">
                    <svg class="footer__icon">
                        <use href="images/sprite.svg#icon-phone"></use>
                    </svg>
                </span>
                +1-543-123-4567
            </li>
            <li class="list__items logos">
                <span class="footer__icon">
                    <svg class="footer__icon">
                        <use href="images/sprite.svg#icon-email"></use>
                    </svg>
                </span>
                example@fylo.com
            </li>
        </ul>
        <ul class="list footer__list footer__link-list">
            <li class="list__items"><a href="" class="footer__link">About Us</a></li>
            <li class="list__items"><a href="" class="footer__link">Jobs</a></li>
            <li class="list__items"><a href="" class="footer__link">Press</a></li>
            <li class="list__items"><a href="" class="footer__link">Blog</a></li>
        </ul>
        <ul class="list footer__list footer__link-list">
            <li class="list__items"><a href="" class="footer__link">Contact Us</a></li>
            <li class="list__items"><a href="" class="footer__link">Terms</a></li>
            <li class="list__items"><a href="" class="footer__link">Privacy</a></li>
        </ul>
        <div class="footer__social">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
    </div>
</section>
<footer>
    <p class="attribution">
      Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor / Side Hustle</a>. 
      Coded by <a href="#">Ugochukwu Umeh (Group 229)</a>.
    </p>
</footer>