<section class="hero">
    <div class="container">
        <img src="images/illustration-intro.png" alt="Illustration Intro" class="image">
    </div>
    <header class="hero__content">
        <h1 class="hero__heading">All your files in one secure location, accessible anywhere.</h1>
        <p class="hero__tagline">
            Fylo stores all your most important files in one secure location. Access them wherever 
            you need, share and collaborate with friends family, and co-workers.
        </p>
        <button type="submit" class="btn cta">Get Started</button>
    </header>
</section>