<header>
    <nav class="nav">
        <a href="#" class="nav__brand"><img src="images/logo.svg" alt="Logo"></a>
        <ul class="nav__list list">
            <a href="" class="nav__link-list">
                <li class="list_items">Features</li>
            </a>
            <a href="" class="nav__link-list">
                <li class="list_items">Team</li>
            </a>
            <a href="" class="nav__link-list">
                <li class="list_items">Sign In</li>
            </a>
        </ul>
    </nav>
</header>