<section class="container grid grid--1x2 grid--1x3 testimonial">
    <div class="testimonial__card">
        <blockquote class="quote">
            <p class="quote__text">
                Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has
                become a well-oiled collaboration machine.</p>
            <footer>
                <div class="media">
                    <div class="media__image">
                        <img src="images/profile-1.jpg" alt="">
                    </div>
                    <div class="media__body">
                        <h3 class="quote__author">Satish Patel</h3>
                        <p class="quote__organization">Founder & CEO, Huddle</p>
                    </div>
                </div>
            </footer>
        </blockquote>
    </div>
    <div class="testimonial__card">
        <blockquote class="quote">
            <p class="quote__text">
                Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has
                become a well-oiled collaboration machine.</p>
            <footer>
                <div class="media">
                    <div class="media__image">
                        <img src="images/profile-2.jpg" alt="">
                    </div>
                    <div class="media__body">
                        <h3 class="quote__author">Bruce McKenzie</h3>
                        <p class="quote__organization">Founder & CEO, Huddle</p>
                    </div>
                </div>
            </footer>
        </blockquote>
    </div>
    <div class="testimonial__card">
        <blockquote class="quote">
            <p class="quote__text">
                Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has
                become a well-oiled collaboration machine.</p>
            <footer>
                <div class="media">
                    <div class="media__image">
                        <img src="images/profile-3.jpg" alt="">
                    </div>
                    <div class="media__body">
                        <h3 class="quote__author">Iva Boyd</h3>
                        <p class="quote__organization">Founder & CEO, Huddle</p>
                    </div>
                </div>
            </footer>
        </blockquote>
    </div>
</section>